<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <main class="content">
        <div class="container">
          <section class="hero-banner" aria-label="Banner s jménem">
            <div class="banner-inner">
              <h1 class="banner-name">{{nazev_webu}}</h1>
              <h2>{{titulek_webu}}</h2>
            </div>
          </section>
        </div>
      </main>
</body>
</html>