<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="static/menu_styles.css">
    <link rel="stylesheet" href="static/baner_styles.css">
    <link rel="stylesheet" href="static/index_styles.css">
    <link rel="stylesheet" href="static/contacts.css">

</head>
<body>
    {%include "/partials/menu.html"%}
    {%include "/partials/baner.html"%}
    {% block content %}{% endblock %}
</body>
</html>