{% extends "base.html" %}

{% block content%}
<section class="table-wrap" aria-live="polite">
    <table id="contactsTable" style="margin: 0 auto;">
      <thead>
        <tr>
          <th>Jmého</th>
          <th>Příjmení</th>
          <th>Email</th>
          <th>Telefon</th>
          <th>Kancelář</th>
        </tr>
      </thead>
      <tbody>
        {% if user.is_authenticated %}
          {% if id == () %}
          <tr class="radek">
            <td>{{users.jmeno}}</td>
            <td>{{users.prijmeni}}</td>
            <td><a href="{{users.jmeno}}">{{users.email}}</a></td>
            <td><a href="{{users.telefon}}">{{users.telefon}}</a></td>
            <td>{{users.kancelar}}</td>
        </tr>
        {% else %}
        <tr>
          <td>{{users.jmeno}}</td>
          <td>{{users.prijmeni}}</td>
          <td><a href="{{users.jmeno}}">{{users.email}}</a></td>
          <td><a href="{{users.telefon}}">{{users.telefon}}</a></td>
          <td>{{users.kancelar}}</td>
        </tr>
        {% endif %}

        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}